body{
    background-color: #a9def9;
}

.container-all{
    margin-top: 100px;
    width: 600px;
    min-height: 400px;
    background-color: white;
    border: 1px;
    border-radius: 10px;
    transition: ease all .3s;
    margin: 100px auto;
}

h1 {
    color: #f77f00;
    text-align: center;
    padding-top: 30px;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Black Ops One', sans-serif;
}

.todo-container{
    padding: 50px;
    padding-top: 30px;
}

.todo-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.todo-input{
    width: 410px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #f77f00;
    background-color: #edf2f4;
    background: transparent;
    outline: none;
    text-indent: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    font-family: 'Courier New', sans-serif;
}

.todo-input::placeholder {
    opacity: 70%;
    font-family: Arial,sans-serif;
}

.add-button{
    width: 70px;
    height: 50px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #f77f00;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.todo-btn{
    border: none;
    background-color: white;
    cursor: pointer;
}


.task{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: pointer;
    border: 1px solid #F77F00;
    text-indent: 10px;
}

.show-task{
    display: flex;
    overflow: hidden;
}

.show-task > input {
    margin-left: 10px;
    width: 15px;
}

.delete-box{
    width: 100px;
    height: 100px;
    background-color: #F77F00;
}

.modal-container {
    width: 400px;
    height: 300px;
    position: fixed;
    top: 20%;
    left: 30%;
}

.confirm-box{
    background-color: #a9def9;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    height: 70%;
    border-radius: 10px;
}

.confirm-content{
    /* background-color: antiquewhite; */
    text-align: center;
}

.confirm-header{
    /* background-color: rgb(92, 34, 146); */
    margin-bottom: 30px;
    text-align: center;
}

.confirm-title{
   margin-top: 20px;
   font-size: 24px;
}

.confirm-body{
    /* background-color: rgb(115, 51, 8); */
    margin-bottom: 40px;
    font-size: 18px;
}

.confirm-footer{
    /* background-color: rgb(115, 8, 108); */
    display: flex;
    justify-content: space-evenly;
}

.confirm-button{
    width: 80px;
    height: 40px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #948d86;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
}